/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    /* Header CSS */
    .header_top ul li:nth-child(2){
        display: none;
    }
    .navbar-brand{
        width: 70%;
    }
    /* About Section CSS */
    .about_h1{
        margin-top: 90px;
        font-size: 34px;
    }
    .about_description{
        font-size: 16px;
      }
      .about_carousel img{
        margin: 0 auto;
        width: 300px !important;
      }
      /* Feature section CSS */
      .feature{
        margin: 50px 10px 10px;
      }
      .feature_box{
        box-shadow: none;
      }
      .card_box{
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 12px 6px rgba(244,244,244,1);
      }
      .card_box_content{
        margin: auto;
      }
      .card_box_title{
        margin-left: 15px;
        margin-right: 30px;
        font-size: 18px;
      }
      .card_box_description{
        margin-top: 25px;
      }
      .f_img_box{
        margin: 0 auto;
      }
      .feature_two_content{
        margin: 0 auto;
      }
      .feature_img_box{
        width: 250px;
        height: 250px;
        position: relative;
      }
      .feature_img_box2 img{
        width: 240px;
        height: 240px;
        background-color: #007dff;
        border: 8px solid #fff;
        border-radius: 50%;
        position: absolute;
        content: '';
        bottom: 0;
        left: 6.5%;
      }
      .anncar_h2{
        margin-top: 60px;
        font-size: 30px;
        text-align: center;
      }
      .underline{
        margin: 20px auto 25px;
      }
      .anncar-p{
        text-align: center;
      }
      /* Parts section CSS */
      .parts_content{
        padding: 10px;
        text-align: center;
        line-height: 24px;
      }
      .parts_h3{
        font-size: 26px;
        line-height: 38px;
      }
      /* Brands CSS */
      .brands_img{
        margin-top: 60px;
      }
      .brands_img1 img{
        top: -7%;
        left: -30%;
      }
      /* Need CSS */
      .need-overlay{
        height: 60vh;
      }
      .need_img img{
        display: none;
      }
      .need_box{
        padding: 30px 15px;
        width: 100%;
        margin: auto;
        background: transparent;
      }
      .need_h3{
        font-size: 28px;
      }
      /* Footer */

      
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    /* Feature section CSS */
    .feature{
        margin: 50px 10px 10px;
      }
      .feature_box{
        box-shadow: none;
      }
      .card_box{
        margin-bottom: 20px;
        padding: 60px;
        border-radius: 8px;
        box-shadow: 0px 0px 12px 6px rgba(244,244,244,1);
      }
      .card_img{
        padding-right: 0;
      }
      .card_box_content{
        margin: auto;
        padding-left: 0;
      }
      .card_box_title{
        margin-left: 15px;
        font-size: 22px;
      }
      .card_box_description{
        margin-top: 25px;
      }
      .f_img_box{
        width: 56%;
        margin: 0 auto;
      }
      .feature_img_box{
        width: 270px;
        height: 270px;
        position: relative;
      }
      .feature_img_box2 img{
        width: 255px;
        height: 255px;
        background-color: #007dff;
        border: 8px solid #fff;
        border-radius: 50%;
        position: absolute;
        content: '';
        bottom: 0;
        left: 8%;
      }
      .anncar_h2{
        margin-top: 60px;
        font-size: 30px;
        text-align: center;
      }
      .underline{
        margin: 20px auto 25px;
      }
      .anncar-p{
        text-align: center;
      }
      /* Parts section CSS */
      .parts_content{
        padding: 10px;
        text-align: center;
        line-height: 24px;
      }
      .parts_h3{
        line-height: 38px;
      }
      /* Brands CSS */
      .brands_img{
        margin-top: 60px;
      }
      .brands_img2{
        float: none;
        text-align: center;
      }
      .brands_img1 img{
        top: -7%;
        left: -10%;
      }
      /* Need CSS */
      .need-overlay{
        height: 80vh;
      }
      .need_img img{
        display: none;
      }
      .need_box{
        padding: 30px 20px;
        width: 100%;
        margin: auto;
        background: transparent;
      }
      .need_h3{
        font-size: 26px;
      }
      
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    /* About Section CSS */
    .about_carousel img{
        margin: 0 auto;
      }
      /* Feature section CSS */
    .feature{
        margin: 50px 10px 10px;
      }
      .card_box{
        border-radius: 8px;
      }
      .card_img{
        padding-right: 0;
      }
      .card_box_content{
        margin: auto;
        padding-left: 0;
      }
      .card_box_title{
        margin-left: 40px;
        font-size: 20px;
      }
      .card_box_description{
        margin-top: 25px;
      }
      .f_img_box{
        width: 40%;
        margin: 0 auto;
      }
      .feature_img_box{
        width: 270px;
        height: 270px;
        position: relative;
      }
      .feature_img_box2 img{
        width: 255px;
        height: 255px;
        background-color: #007dff;
        border: 8px solid #fff;
        border-radius: 50%;
        position: absolute;
        content: '';
        bottom: 0;
        left: 8%;
      }
      .anncar_h2{
        margin-top: 60px;
        font-size: 30px;
        text-align: center;
      }
      .underline{
        margin: 20px auto 25px;
      }
      .anncar-p{
        padding: 0 14%;
        text-align: center;
      }
      /* Parts section CSS */
      .parts_content{
        margin: 0 40px;
        padding: 20px;
        text-align: center;
        line-height: 24px;
      }
      /* Brands CSS */
      .brands_img{
        margin-top: 80px;
      }
      .brands_img2{
        float: none;
        text-align: center;
      }
      .brands_img1 img{
        top: -3%;
        left: 7%;
      }
      /* Need section CSS */
      .need_img img{
        width: 100%;
      }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* About Section CSS */
    .about_h1{
        font-size: 50px;
    }
    .about_description{
        font-size: 22px;
      }
    .about_carousel img{
        margin: 0 auto;
        width: 480px !important;
      }
      /* Feature section */
      .card_box_content{
        margin: auto;
      }
      .card_box_title{
        padding-right: 40px;
        font-size: 20px;
      }
      .card_box_description{
        margin-top: 25px;
      }
      .f_img_box{
        width: 40%;
        margin: 0 auto;
      }
      .feature_img_box2 img{
        left: 6%;
      }
      /* Brands CSS */
      .brands_img{
        margin-top: 120px;
      }
      .brands_img2{
        float: none;
        text-align: center;
      }
      .brands_img1 img{
        top: 5%;
        left: -7%;
      }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}